@import "variables.scss";

@import "reset.scss";

.group:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

body {
    font-family: $main-font;
    font-size: $main-font-size;
    color: $main-color;
    box-sizing: border-box;
}

pre {
    font-family: $mono-font;
    font-size: 0.9em;
    border-left: 3px solid $border-color;
    padding-left: 1em;
    line-height: 1.2em;
}

code {
    font-family: $mono-font;
    padding: 0.2em 0.3em;
    border-radius: 2px;
    background: #EEE;
}

pre code {
    padding: 0;
    border-radius: 0;
    background: none;
}

code.hljs { padding: 0; }

header {
    margin: 20px auto;
    padding: 0 20px;
    max-width: 960px;
    font-size: 1.2em;
    line-height: 1.2em;
    a {
        margin-right: 1em;
    }
}

section {
    margin: 20px auto;
    padding: 0 20px;
    max-width: 960px;
}

footer {
    margin: 20px auto;
    padding: 0 20px;
    max-width: 960px;
    font-size: 0.8em;
    color: $gray-color;
}

h1, h2, h3, h4 {
    margin: 1em 0;
    font-weight: bold;
    color: $gray-200;
}

h2 {
    &:before {
        display: inline-block;
        color: $gray-600;
        content: "\00b6";
        text-align: right;
        width: 20px;
        padding-right: 8px;
        margin-left: -28px;
    }
}
h1 { font-size: 1.8em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.0em; }

p {
    margin: 1em 0;
    line-height: 1.2em;
}

ul, ol {
    margin: 1em 0;
    margin-left: 2em;
}
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
li {
    line-height: 1.2em;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover, &:active {
        color: $highlight-color;
        text-decoration: underline;
    }
    &.active {
        font-weight: bold;
    }
}

b, strong {
    font-weight: bold;
}

hr {
    border: none;
    border-top: 2px solid $border-color;
    margin: 1em 0;
}

.examples {
    list-style-type: none;
    margin: 0; padding: 0;
    li {
        width: calc(100% / 3);
        margin: 0; padding: 0;
        display: block;
        float: left;
        text-align: center;
        cursor: pointer;
        position: relative;
        border: 2px solid white;
        box-sizing: border-box;

        img {
            width: 100%;
            display: block;
        }

        span {
            position: absolute;
            left: 0; right: 0; top: 0; bottom: 0;
            background-color: rgba(0, 0, 0, 0.4);
            color: white;
            display: none;
        }

        &:hover {
            span {
                display: block;
            }
            border: 2px solid $border-color;
        }
    }
}