body { margin: 0; padding: 0; font-size: 14px; box-sizing: border-box; }
div, p { margin: 0; padding: 0; font-size: 14px; line-height: 1em; }
.fps {
    float: right;
    display: block;
    height: 30px;
    padding-right: 10px;
    line-height: 30px;
    font-size: 15px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
[data-switch] {
    margin: 0; padding: 0 10px;
    line-height: 30px;
    height: 30px;
    width: 940px;
}
[data-switch] [data-value] {
    font-size: 16px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: inline-block;
    margin: 0; padding: 0; border: none;
    outline: none;
    border-radius: 2px;
    padding-left: 10px; padding-right: 10px;
    padding-top: 2px; padding-bottom: 2px;
    line-height: 24px;
    cursor: pointer;
    background: #EEE;
    border: 1px solid #CCC;
    color: black;
}
[data-switch] [data-value]:hover {
    background: #2196F3;
    color: #FFF;
    border: 1px solid #1E88E5;
}
[data-switch] [data-value].active {
    background: #1565C0;
    color: #FFF;
    border: 1px solid #0D47A1;
}
