<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1040">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="keywords" content="Stardust,visualization,WebGL,javascript">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/atom-one-light.min.css" />
    <link rel="stylesheet" type="text/css" href="{{base}}/css/main.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
</head>
<body>
    <header>
        {% include navigation.html %}
    </header>
    <section class="with-sidebar group">
        {% include documentation-sidebar.html %}
        <div class="content">
            {{ content }}
        </div>
    </section>
    <footer>
        <hr />
        {% include copyright.html %}
    </footer>
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
    </script>
</body>
</html>